/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------- */

html {
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: scrollbar;
}

body {
	background: #fff;
	font: 400 12px/1.8 "Open Sans", Verdana, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
}